footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
footer span {
  color: lightblue;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  color: lightgreen;
}
